* {
    cursor:none;
}

.typed-text {
    color: white;
    margin-bottom: 20px; 
}

.typing{
    color:white;
    text-align:center;
    margin-top:50px;
}
.cursor {
    background-color: purple;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
}

