#intro-section {
    text-align: center; /* Centers the content horizontally */
    padding-top: 150px; /* Gives some space from the top of the page */
  }
  
  #intro-section h1 {
    margin-bottom: 40px; /* Gives some space between the text and the image */
  }
  
  #profile-pic {
    width: 150px; /* Set the width of the image */
    height: 150px; /* Set the height of the image */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensuring the aspect ratio of the image is preserved */
  }

  .intro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
